
.board {
	background: #0000FF;
	margin: auto;
	margin-top: 20px;
}

.board td{
	height: 60px;
	width: 60px;
}

.board td > div{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.board td.white > div {
	background-color: #243035;
}

.board td.red > div {
	background-color: #FF0000;
}

.board td.yellow > div {
	background-color: #FFFF00;
}

.buttons {
	display: flex;
	justify-content: center;
}

.buttons > * {
	margin: 10px;
}


@media screen and (max-width: 520px) {

	.board td{
		height: 30px;
		width: 30px;
		min-width: 30px;
	}

}
