/** MY CSS CODES **/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

#user-body {
  @apply font-sans leading-normal tracking-normal flex flex-col w-full min-h-screen;
}

.spin {
    animation: anim-spin infinite 3s linear;
}

@keyframes anim-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  