.main-container {
	display: flex;
	flex-wrap: wrap;
}

.game-container {
	margin: auto;
	padding: 10px;
	position: relative;
}



#board {
	border: 5px solid black;
	background: white;
	position: relative;
}

.corner-top-right{
	border-top-right-radius: 50%;
}

.corner-top-left{
	border-top-left-radius: 50%;
}

.corner-bottom-right{
	border-bottom-right-radius: 50%;
}

.corner-bottom-left{
	border-bottom-left-radius: 50%;
}

#start{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,0,0.5);
	z-index: 2;
	margin: 10px;
	text-align: center;
	color: black;
	font-size: 36px;
	padding-top: 120px;
}

/*@media screen and (max-width: 520px) {
	.game-container {
		transform: scale(0.5, 0.5);
		top:-70px;
		left: -225px;
		position: absolute;
	}
}*/
.snake-body{
	z-index: 2;
	background: black;
	position: absolute;
}

.food{
	background: lime;
	position: absolute;
	z-index: 1;
}

.snake-head-up{
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
}

.snake-head-right{
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.snake-head-down{
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.snake-head-left{
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}